@using Microsoft.AspNetCore.Identity
@using RecipeApp.Infrastructure.Data.EntityFramework.Entities.Identity
@using CommonResource = RecipeApp.Resources.Common
@using SharedViewsResource = RecipeApp.Resources.Web.Views.Shared
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        AppUser? user = await UserManager.GetUserAsync(User);
        
        <li class="nav-item">   
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@SharedViewsResource._LoginPartial.Hello, @user?.UserName!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">@SharedViewsResource._LoginPartial.Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@CommonResource.Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@CommonResource.LoginLink</a>
        </li>
    }
</ul>