@model IEnumerable<RecipeApp.Areas.Admin.ViewModels.ReviewDetailsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewResponse.User.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewResponse.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewResponse.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewResponse.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewResponse.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeTitle)
            </td>
            <td>
                @{
                    for (var i = 0; i < item.ReviewResponse.Rating / 2; i++)
                    {
                        <i class="rating__icon rating__icon--star fa fa-star"></i>
                    }
                    if (item.ReviewResponse.Rating % 2 != 0)
                    {
                        <i class="rating__icon rating__icon--star fa fa-star-half"></i>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewResponse.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewResponse.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewResponse.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewResponse.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewResponse.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
