@model IEnumerable<RecipeApp.Areas.Admin.ViewModels.ReviewDetailsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Review.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Review.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Review.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
