@using RecipeApp.Areas.Admin.ViewModels
@model IEnumerable<RecipeApp.Areas.Admin.ViewModels.IngredientTypeAssociationDetailsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IngredientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngredientTypeName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (IngredientTypeAssociationDetailsViewModel item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IngredientTypeAssociation.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IngredientTypeAssociation.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IngredientTypeAssociation.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>