@model RecipeApp.Areas.Admin.ViewModels.UnitDetailsViewModel
@using CommonResource = Base.Resources.Common
@using UnitResource = App.Resources.App.BLL.DTO.Unit

@{
    ViewData["Title"] = "Details";
}

<h1>@CommonResource.DetailsTitle</h1>

<div>
    <h4>@UnitResource.UnitSingular</h4>
    <hr />
    <partial name="_DetailsDelete" model="Model"/>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Unit.Id">@CommonResource.EditLink</a> |
    <a asp-action="Index">@CommonResource.BackToListLink</a>
</div>
