@model IEnumerable<WebApp.ViewModels.RaffleDetailsDeleteViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Raffle.RaffleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raffle.VisibleToPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raffle.AllowAnonymousUsers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raffle.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raffle.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Raffle.RaffleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raffle.VisibleToPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raffle.AllowAnonymousUsers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raffle.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raffle.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Raffle.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Raffle.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Raffle.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
