@model IEnumerable<RecipeApp.Application.DTO.Ingredient>
@using RecipeApp.Application.DTO
@using CommonResource = RecipeApp.Resources.Common
@using IngredientResource = RecipeApp.Resources.Entities.Ingredient;

@{
    ViewData["Title"] = "Index";
}

<h1>@IngredientResource.Ingredients</h1>

<p>
    <a asp-action="Create">@CommonResource.CreateNewLink</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Ingredient item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@CommonResource.EditLink</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@CommonResource.DetailsLink</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@CommonResource.DeleteLink</a>
            </td>
        </tr>
    }
    </tbody>
</table>