@model IEnumerable<BLL_DTO.RecipeResponse>
@using BLL_DTO = App.BLL.DTO
@using RecipeResource = App.Resources.App.BLL.DTO.Recipe
@using CommonResource = Base.Resources.Common

@{
    ViewData["Title"] = "Index";
}

<h1>@RecipeResource.Recipes</h1>

<p>
    <a asp-action="Create">@CommonResource.CreateNewLink</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @RecipeResource.FoodPicture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreparationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVegetarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVegan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGlutenFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatingUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (BLL_DTO.RecipeResponse item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@Url.Content(item.ImageFileUrl)" alt="@item.Title" width="60" height="60" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreparationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVegetarian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVegan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGlutenFree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorUser.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatingUser!.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@CommonResource.EditLink</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@CommonResource.DetailsLink</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@CommonResource.DeleteLink</a>
            </td>
        </tr>
}
    </tbody>
</table>
