@model App.BLL.DTO.Ingredient
@using CommonResource = Base.Resources.Common
@using IngredientResources = App.Resources.App.BLL.DTO.Ingredient;

@{
    ViewData["Title"] = "Delete";
}

<h1>@CommonResource.DeleteTitle</h1>

<h3>@CommonResource.DeleteConfirmQuestion</h3>
<div>
    <h4>@IngredientResources.IngredientSingular</h4>
    <hr/>
    <partial name="_DetailsDelete" model="Model"/>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <button type="submit" value="Delete" class="btn btn-danger">
            @CommonResource.DeleteButton
        </button> |
        <a asp-action="Index">@CommonResource.BackToListLink</a>
    </form>
</div>