@model IEnumerable<RecipeApp.ViewModels.ReviewDetailsViewModel>
@using RecipeApp.ViewModels
@using CommonResource = Base.Resources.Common
@using ReviewResource = App.Resources.App.BLL.DTO.Review

@{
    ViewData["Title"] = "Index";
}

<h1>@ReviewResource.Reviews</h1>

<p>
    <a asp-action="Create">@CommonResource.CreateNewLink</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewResponse.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipeTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewResponse.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewResponse.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewResponse.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewResponse.Edited)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (ReviewDetailsViewModel item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewResponse.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeTitle)
            </td>
            <td>
                @{
                    for (var i = 0; i < item.ReviewResponse.Rating / 2; i++)
                    {
                        <i class="rating__icon rating__icon--star fa fa-star"></i>
                    }

                    if (item.ReviewResponse.Rating % 2 != 0)
                    {
                        <i class="rating__icon rating__icon--star fa fa-star-half"></i>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewResponse.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewResponse.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewResponse.Edited)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewResponse.Id">@CommonResource.EditLink</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewResponse.Id">@CommonResource.DetailsLink</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewResponse.Id">@CommonResource.DeleteLink</a>
            </td>
        </tr>
    }
    </tbody>
</table>