@model RecipeApp.Web.ViewModels.RecipeCreateEditViewModel
@using RecipeResource = RecipeApp.Resources.Entities.Recipe

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="RecipeRequest.Title" class="control-label"></label>
    <input asp-for="RecipeRequest.Title" class="form-control"/>
    <span asp-validation-for="RecipeRequest.Title" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RecipeRequest.Description" class="control-label"></label>
    <input asp-for="RecipeRequest.Description" class="form-control"/>
    <span asp-validation-for="RecipeRequest.Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RecipeRequest.ImageFile" class="control-label"></label>
    <div class="form-group">
        <label id="fileInputLabel" asp-for="RecipeRequest.ImageFile" class="btn btn-primary d-block">
            <i class="fa fa-image"></i> @RecipeResource.ChooseImageButton
            <input asp-for="RecipeRequest.ImageFile" class="form-control" style="display: none;" onchange="displayImage(this)" accept="image/*"/>
        </label>
        <img id="previewImage" src="#" alt="Preview Image" style="display: none; max-width: 150px; max-height: 150px;"/>
        <span asp-validation-for="RecipeRequest.ImageFile" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="RecipeRequest.PreparationTime" class="control-label"></label>
    <input asp-for="RecipeRequest.PreparationTime" class="form-control"/>
    <span asp-validation-for="RecipeRequest.PreparationTime" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RecipeRequest.CookingTime" class="control-label"></label>
    <input asp-for="RecipeRequest.CookingTime" class="form-control"/>
    <span asp-validation-for="RecipeRequest.CookingTime" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RecipeRequest.Servings" class="control-label"></label>
    <input asp-for="RecipeRequest.Servings" class="form-control"/>
    <span asp-validation-for="RecipeRequest.Servings" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="RecipeRequest.IsVegetarian"/> @Html.DisplayNameFor(model => model.RecipeRequest.IsVegetarian)
    </label>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="RecipeRequest.IsVegan"/> @Html.DisplayNameFor(model => model.RecipeRequest.IsVegan)
    </label>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="RecipeRequest.IsGlutenFree"/> @Html.DisplayNameFor(model => model.RecipeRequest.IsGlutenFree)
    </label>
</div>
<div class="form-group">
    <span asp-validation-for="RecipeRequest.Instructions" class="text-danger"></span>
    <partial name="_InstructionField" model="@Model"/>
</div>