@model RecipeApp.Web.ViewModels.ReviewCreateEditViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="ReviewRequest.Rating" class="control-label"></label>
    <br/>
    <div class="rating-group">
        <input class="rating__input rating__input--none" asp-for="ReviewRequest.Rating" title="hidden-value" id="rating2-0" value="0" type="radio" checked>
        @{
            const int numberOfStars = 5;
            for (var i = 1; i < numberOfStars * 2 + 1; i++)
            {
                var value = i / 2.0;
                var isHalfStar = i % 2 != 0;
                var label = $"{value} star" + (Math.Abs(value - 1) < 0.001 ? "" : "s");
                var iconName = isHalfStar ? "fa-star-half" : "fa-star";
                var inputId = $"rating2-{i * 5}";
                <label aria-label="@label" class="rating__label @(isHalfStar ? "rating__label--half" : "")" for="@inputId">
                    <i class="rating__icon rating__icon--star fa @iconName"></i>
                </label>
                <input asp-for="ReviewRequest.Rating" class="rating__input" id="@inputId" value="@i" type="radio">
            }
        }
    </div>
    <br/>
    <span asp-validation-for="ReviewRequest.Rating" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ReviewRequest.Comment" class="control-label"></label>
    <textarea asp-for="ReviewRequest.Comment" class="form-control"></textarea>
    <span asp-validation-for="ReviewRequest.Comment" class="text-danger"></span>
</div>