@model RecipeApp.Web.ViewModels.ReviewCreateEditViewModel
@using CommonResource = RecipeApp.Resources.Common
@using ReviewResource = RecipeApp.Resources.Entities.Review
@using RecipeResource = RecipeApp.Resources.Entities.Recipe

@{
    ViewData["Title"] = "Create";
}

<h1>@CommonResource.CreateTitle</h1>

<h4>@ReviewResource.ReviewSingular</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="ReviewRequest.RecipeId" class="control-label"></label>
                <select asp-for="ReviewRequest.RecipeId" class="form-control" asp-items="Model.RecipeSelectList">
                    <option disabled selected value="">-- @RecipeResource.SelectRecipe --</option>
                </select>
                <span asp-validation-for="ReviewRequest.RecipeId" class="text-danger"></span>
            </div>
            <partial name="_CreateEdit" model="Model"/>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">
                    @CommonResource.CreateButton
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@CommonResource.BackToListLink</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}